.footer {
    width: auto;
    height: auto;
    background-color: rgba(226, 113, 113, 0.04);
    position: relative;
}

.footer__paragraph {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: auto;
    height: auto;
    background-color:rgba(255, 255, 255, 0.342);
    position: relative;
    box-shadow: 2px;
}
.footer__strong {
    color: white;
}